.module_list {
  height: 292px;
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

.module_list_item {
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #b4b9be;
}

.module_list_item a {
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #0f5da4;
  padding-bottom: 10px;
}
