* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: adobe-clean, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  top: 0;
}

input:focus {
  outline: none;
}

.header {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

i {
  cursor: pointer;
}
